[Unit]
Description=Solar Owl multicast data logger 

[Service]
Type=simple
ExecStart=/home/pi/auto/solarlog-persist run
ExecStop=/home/pi/auto/solarlog-persist stop

[Install]
WantedBy=multi-user.target

